<head>
    <script>
        window.addEventListener('hashchange', ev => {
            document.getElementById('image').innerHTML = '<img src="/static/image' + unescape(location.hash.slice(1)) + '.png">';
        });
        
        function fn() {
            var select = document.getElementById("s");
            var selected = select.value;
            window.location.hash = selected;
        }
    </script>
</head>
<body>
    Which image to show:
    <select id="s" onchange="fn();" onfocus="this.selectedIndex = -1;" style="width:10%">
        <option value="1" id="1">1</option>
        <option value="2" id="2">2</option>
    </select> 
    <br>
    <div id="image"></div>
</body>


